$orange: #F2AF31;
$orange-2: #E38B1C;

$black: #1C2F3D;
$black-2: #334451;
$black-3: #292D2F;

//======== Btn ========//

//====================//


$gray: #F3F4F4;
$gray-2: #F0F0F0;
$gray-3: #F3F3F3;
$gray-4: #8E979E;


$blue-1: #0E7EB5;



//========== List =========//
$purple-1: #0F5D83;