@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair/PlayfairDisplay-SemiBold.eot');
    src: local('Playfair'),
        url('../fonts/Playfair/PlayfairDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Playfair/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url('../fonts/Playfair/PlayfairDisplay-SemiBoldItalic.eot');
    src: local('Playfair'),
        url('../fonts/Playfair/PlayfairDisplay-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Playfair/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
    font-style: italic;
}


//================ Gilroy ====================//

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-SemiBold.eot');
    src: local('Gilroy'),
        url('../fonts/Gilroy/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Light.eot');
    src: local('Gilroy'),
        url('../fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Light.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Regular.eot');
    src: local('Gilroy'),
        url('../fonts/Gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: 400;
}


// Gilroy-Regular
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Medium.eot');
    src: local('Gilroy'),
        url('../fonts/Gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/Gilroy-Boldeot');
    src: local('Gilroy'),
        url('../fonts/Gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: 900;
}


//Gilroy-Medium