.accordion
    .accordion__container.container
        .accordion__cover
            .accordion__items
                .accordion__item
                    .accordion__panel
                        .accordion__text Подробнее о работе
                        .accordion__pic
                            +svg('arr-acc')
                    .accordion__list
                        .accordion__content
                            h2 Заголовок
                            p Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для первоочередных требований. Таким образом, консультация с широким активом создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса новых предложений. Учитывая ключевые сценарии поведения, сплочённость команды профессионалов однозначно определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития.
                .accordion__item
                    .accordion__panel
                        .accordion__text Подробнее о размере
                        .accordion__pic
                            +svg('arr-acc')
                    .accordion__list
                        .accordion__content
                            h2 Заголовок
                            p Вот вам яркий пример современных тенденций - начало повседневной работы по формированию позиции, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для первоочередных требований. Таким образом, консультация с широким активом создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса новых предложений. Учитывая ключевые сценарии поведения, сплочённость команды профессионалов однозначно определяет каждого участника как способного принимать собственные решения касаемо дальнейших направлений развития.