section.call
    .call__container.container
        h4.call__title.title-4 Сделав у нас заказ - вы получите качество!
        .call__quote Закажите бесплатный звонок и получите подробную консультацию о Вашем заказе
        form.call__form
            .call__cover
                input(type="text" name="name" placeholder="Ваше Имя" required).call__field 
                input(type="text" name="phone" placeholder="Телефон" required).call__field.js-mask-phone 
            button(type="submit" value="Заказать звонок").btn.btn--blue.js-grace Заказать звонок
        .call__note Отправляя заявку, Вы принимаете условия <a href="javascript:void(0);">пользовательского соглашения</a>