section.comment
    .comment__container.container
        h4.comment__title.title-4 Отзывы клиентов
        .comment__quote Как о нас отзызаются люди
        .slider.slider--comment.js-slider-comment
            .swiper-wrapper
                .swiper-slide
                    .slider__ic
                        +svg('quote')
                    .slider__article С другой стороны, данная экономическая повестка сегодняшнего дня не даёт нам иного выбора
                    .slider__txt Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие позволяет выполнить важные задания по разработке стандартных подходов. Лишь независимые государства, вне зависимости от их уровня, должны быть обнародованы.
                    .slider__autor
                        .slider__pic
                            img(src="./image/comment/p1.jpg" alt="")
                        .slider__box
                            .slider__name Иван Иванович
                            .slider__post Покупатель
                .swiper-slide
                    .slider__ic
                        +svg('quote')
                    .slider__article С другой стороны, данная экономическая повестка сегодняшнего дня не даёт нам иного выбора
                    .slider__txt Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие позволяет выполнить важные задания по разработке стандартных подходов. Лишь независимые государства, вне зависимости от их уровня, должны быть обнародованы.
                    .slider__autor
                        .slider__pic
                            img(src="./image/comment/p1.jpg" alt="")
                        .slider__box
                            .slider__name Иван Иванович
                            .slider__post Покупатель
                .swiper-slide
                    .slider__ic
                        +svg('quote')
                    .slider__article С другой стороны, данная экономическая повестка сегодняшнего дня не даёт нам иного выбора
                    .slider__txt Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие позволяет выполнить важные задания по разработке стандартных подходов. Лишь независимые государства, вне зависимости от их уровня, должны быть обнародованы.
                    .slider__autor
                        .slider__pic
                            img(src="./image/comment/p1.jpg" alt="")
                        .slider__box
                            .slider__name Иван Иванович
                            .slider__post Покупатель
                .swiper-slide
                    .slider__ic
                        +svg('quote')
                    .slider__article С другой стороны, данная экономическая повестка сегодняшнего дня не даёт нам иного выбора
                    .slider__txt Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: социально-экономическое развитие позволяет выполнить важные задания по разработке стандартных подходов. Лишь независимые государства, вне зависимости от их уровня, должны быть обнародованы.
                    .slider__autor
                        .slider__pic
                            img(src="./image/comment/p1.jpg" alt="")
                        .slider__box
                            .slider__name Иван Иванович
                            .slider__post Покупатель
            .arrow
                .arrow__cover
                    .arrow__link.arrow__link--prev
                        +svg('arr-slider')
                    .pagination
                    .arrow__link.arrow__link--next
                        +svg('arr-slider')