footer.footer(itemscope itemtype="http://schema.org/WPFooter")
    .footer__top
        .footer__container.container
            .footer__grid
                .footer__bloc
                    .footer__box
                        a(href="/").footer__logo
                            +svg('logo')
                        .footer__txt для дома, бизнеса и производства
                    include ../modules/marks
                .footer__bloc
                    a(href="catalog.html" itemprop="url").footer__link.footer__link--header.footer__link--active Для дома и участка
                    .footer__list
                        a(href="subcategory.html" itemprop="url").footer__link Мебель
                        a(href="subcategory.html" itemprop="url").footer__link Лестничные конструкции
                        a(href="subcategory.html" itemprop="url").footer__link Благоустройство участка
                        a(href="subcategory.html" itemprop="url").footer__link Конструкции из габионов
                        a(href="subcategory.html" itemprop="url").footer__link Заборы и ограждения
                .footer__bloc
                    a(href="catalog.html" itemprop="url").footer__link.footer__link--header Строительство и производство
                    .footer__list
                        a(href="subcategory.html" itemprop="url").footer__link Строительство
                        a(href="subcategory.html" itemprop="url").footer__link Отделочные работы
                        a(href="subcategory.html" itemprop="url").footer__link Временные здания и сооружения
                        a(href="subcategory.html" itemprop="url").footer__link Производство
                .footer__bloc
                    a(href="catalog.html" itemprop="url").footer__link.footer__link--header Благоустройство территории
                .footer__bloc
                    a(href="catalog.html" itemprop="url").footer__link.footer__link--header Для бизнеса
                    .footer__list
                        a(href="subcategory.html").footer__link Для магазинов
                        a(href="subcategory.html").footer__link Для баров и ресторанов
                        a(href="subcategory.html").footer__link Офисная мебель
                        a(href="subcategory.html").footer__link Рекламные стенды
                        a(href="subcategory.html").footer__link Двери и перегородки
                        a(href="subcategory.html").footer__link Лестницы и перила
                        a(href="subcategory.html").footer__link Сейфы
                        a(href="subcategory.html").footer__link Мусорные баки и урны
                        a(href="subcategory.html").footer__link Заборы
                        a(href="subcategory.html").footer__link Навесы и козырьки
                .footer__bloc
                    .footer__link.footer__link--header(style="pointer-events: none;") О компании
                    .footer__list
                        a(href="about.html" itemprop="url").footer__link О нас
                        a(href="contacts.html" itemprop="url").footer__link Контакты
                .footer__bloc
                    a(href="question.html" itemprop="url").footer__link.footer__link--header Частозадаваемые вопросы

    .footer__bottom
        .footer__container.container
            .footer__unit © 2020, Vladzel ®
            a(href="policy.html").footer__unit.footer__unit--link Политика конфиденциальности
            a(href="agreement.html").footer__unit.footer__unit--link Пользовательское соглашение
            .footer__unit Сайт разработан компанией <a href="javascript:void(0);">Uralmedias</a>


        
    
    include ../modules/modals