case portfolio
  when 'basic'
    #ourwork.portfolio.portfolio--basic
        .portfolio__container.container
            .portfolio__row
                .portfolio__col.portfolio__col--content
                    h4.portfolio__title.title-4 Познакомьтесь с&nbsp;нашими&nbsp;работами
                    .portfolio__text Это не менее трудоемкий процесс, чем сборка, особенно когда речь идет об установке целого комплекса изделий, включая угловые шкафы, шкафы-купе, кухонные стенки и др. 
                a(href="javascript:void(0);").portfolio__col.portfolio__col--link(style="background-image:url(./image/work/p1.jpg)")
                    .portfolio__content
                        .portfolio__article Конструкция “Название”
                        .portfolio__box
                            .portfolio__txt Не следует, однако, забывать, что семантический разбор внешних противодействий влечет за собой процесс внедрения и модернизации.
                            .portfolio__ic
                                +svg('arrow-link') 
                a(href="javascript:void(0);").portfolio__col.portfolio__col--link(style="background-image:url(./image/work/p2.jpg)")
                    .portfolio__content
                        .portfolio__article Конструкция “Название”
                        .portfolio__box
                            .portfolio__txt Не следует, однако, забывать, что семантический разбор внешних противодействий влечет за собой процесс внедрения и модернизации.
                            .portfolio__ic
                                +svg('arrow-link')
                a(href="javascript:void(0);").portfolio__col.portfolio__col--link(style="background-image:url(./image/work/p3.jpg)")
                    .portfolio__content
                        .portfolio__article Конструкция
                        .portfolio__box
                            .portfolio__txt Не следует, однако, забывать, что семантический разбор.
                            .portfolio__ic
                                +svg('arrow-link') 
  when 'short'
    .portfolio.portfolio--short
        .portfolio__container.container
            .portfolio__row
                .portfolio__col
                    h4.portfolio__title.title-4 Познакомьтесь с&nbsp;нашими работами
                .portfolio__col
                    .portfolio__text Вот вам яркий пример современных тенденций - семантический разбор внешних противодействий говорит о возможностях инновационных методов управления процессами. Задача организации, в особенности же разбавленное изрядной долей эмпатии, рациональное мышление требует анализа прогресса профессионального сообщества! Равным образом, выбранный нами был проработан инновационный путь создаёт предпосылки.
            .portfolio__row
                a(href="javascript:void(0);").portfolio__col.portfolio__col--link(style="background-image:url(./image/work/p2.jpg)")
                    .portfolio__content
                        .portfolio__article Конструкция
                        .portfolio__box
                            .portfolio__txt Не следует, однако, забывать, что семантический разбор.
                            .portfolio__ic
                                +svg('arrow-link')
                a(href="javascript:void(0);").portfolio__col.portfolio__col--link(style="background-image:url(./image/work/p3.jpg)")
                    .portfolio__content
                        .portfolio__article Конструкция “Название”
                        .portfolio__box
                            .portfolio__txt Не следует, однако, забывать, что семантический разбор внешних противодействий влечет за собой процесс внедрения и модернизации.
                            .portfolio__ic
                                +svg('arrow-link')