case set
  when 'basic'
    .set
        .set__cover
            .set__items
                .set__item 
                    .set__content
                        .set__header Для дома и участка
                        .set__text.set__text--large Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                        .set__text.set__text--small 
                            ul.set__list
                                li.set__li Мебель
                                li.set__li Лестничные конструкции
                                li.set__li Благоустройство участка
                                li.set__li Конструкции из габионов
                                li.set__li Заборы и ограждения
                        a(href="javascript:void(0);").link.link--more 
                            .link__txt посмотреть работы
                            .link__ic
                                +svg('arr')
                    .set__pic
                        img(src="./image/set/pic.jpg" alt="")
                .set__item 
                    .set__content
                        .set__header Для дома и участка
                        .set__text.set__text--large Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                        .set__text.set__text--small 
                            ul.set__list
                                li.set__li Для магазинов
                                li.set__li Для баров и ресторанов
                                li.set__li Офисная мебель
                        a(href="javascript:void(0);").link.link--more 
                            .link__txt посмотреть работы
                            .link__ic
                                +svg('arr')
                    .set__pic
                        img(src="./image/set/pic2.jpg" alt="")
                .set__item 
                    .set__content
                        .set__header Для дома и участка
                        .set__text.set__text--large Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                        .set__text.set__text--small 
                            ul.set__list
                                li.set__li Мебель
                                li.set__li Лестничные конструкции
                                li.set__li Благоустройство участка
                                li.set__li Конструкции из габионов
                                li.set__li Заборы и ограждения
                        a(href="javascript:void(0);").link.link--more 
                            .link__txt посмотреть работы
                            .link__ic
                                +svg('arr')
                    .set__pic
                        img(src="./image/set/pic3.jpg" alt="")
                .set__item 
                    .set__content
                        .set__header Для дома и участка
                        .set__text.set__text--large  Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                        .set__text.set__text--small 
                            ul.set__list
                                li.set__li Мебель
                                li.set__li Лестничные конструкции
                                li.set__li Благоустройство участка
                                li.set__li Конструкции из габионов
                                li.set__li Заборы и ограждения
                        a(href="javascript:void(0);").link.link--more 
                            .link__txt посмотреть работы
                            .link__ic
                                +svg('arr')
                    .set__pic
                        img(src="./image/set/pic4.jpg" alt="")
  when 'wide'
    .set.set--wide
        .set__cover
            .set__items
                .set__item 
                    .set__content
                        .set__header История нашей компании
                        .set__text Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                    .set__pic
                        .set__unique
                            img(src="./image/set/pic5.jpg" alt="")
                .set__item 
                    .set__content
                        .set__header Как мы развивались
                        .set__text Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                    .set__pic
                        .set__unique
                            img(src="./image/set/pic6.jpg" alt="")
                .set__item 
                    .set__content
                        .set__header Немного о нашей команде
                        .set__text Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                    .set__pic
                        .set__unique
                            img(src="./image/set/pic7.jpg" alt="")
  when 'media'
    .set.set--media
        .set__cover
            .set__items
                .set__item 
                    .set__content
                        .set__header Проведение замеров
                        .set__text Это действие проводится профессионалами, имеющими опыт работы в данной сфере. Такое требование легко объяснить: если замер будет сделан неправильно, непрофессионально, вся дальнейшая работа может оказаться бесполезной, большую часть нужно будет повторить, а иногда заказчик попадает в ситуацию, когда новая мебель оказывается вовсе непригодной к установке в назначенном для нее месте.
                    .set__pic
                        <video autoplay muted loop>
                            <source src="./media/v1.mp4" type="video/mp4" />
                            <source src="./media/v1.webm" type="video/webm" />
                        </video>
                .set__item 
                    .set__content
                        .set__header Разработка дизайна
                        .set__text Это самый творческий процесс создания, который требует определенных знаний. Заказчик может сам распланировать дизайн будущих предметов интерьера, но и эту работу следует проводить вместе со знающими специалистами. Мы заботимся о том, чтобы изделие идеально соответствовало особенностям интерьера, эргономическим требованиям, быть красивым и функциональным.
                    .set__pic
                        <video autoplay muted loop>
                            <source src="./media/v2.mp4" type="video/mp4" />
                            <source src="./media/v2.webm" type="video/webm" />
                        </video>
                .set__item 
                    .set__content
                        .set__header Расчет размеров и количества вспомогательных деталей
                        .set__text Мебель, изготовленная на заказ, должна быть просчитана с миллиметровой точностью. Для этого проектировщик должен сделать подробный эскиз изделия, подсчитав количество деталей и их размеры. Каждый модуль необходимо просчитывать отдельно, суммируя в итоге количество деталей и вспомогательных элементов. 
                    .set__pic
                        <video autoplay muted loop>
                            <source src="./media/v3.mp4" type="video/mp4" />
                            <source src="./media/v3.webm" type="video/webm" />
                        </video>
                .set__item 
                    .set__content
                        .set__header Сборка конструкции
                        .set__text Довольно часто заказчики желают собирать мебель самостоятельно, считая, что именно этот этап не требует каких-либо знаний и определенных умений. Как бы не так! Мебель на заказ должны собирать профессионалы, ведь от качества сборки зависит внешний вид готового изделия. Здесь важны такие качества мастера, как предельная аккуратность, внимательное отношение к каждому своему действию. 
                    .set__pic
                        <video autoplay muted loop>
                            <source src="./media/v4.mp4" type="video/mp4" />
                            <source src="./media/v4.webm" type="video/webm" />
                        </video>
                .set__item 
                    .set__content
                        .set__header Установка на место
                        .set__text Это не менее трудоемкий процесс, чем сборка, особенно когда речь идет об установке целого комплекса изделий, включая угловые шкафы, шкафы-купе, кухонные стенки и др. Если обычный распашной шкаф  необходимо просто пододвинуть к стенке, то сложные мебельные композиции порой устанавливаются по несколько часов. 
                    .set__pic
                        <video autoplay muted loop>
                            <source src="./media/v5.mp4" type="video/mp4" />
                            <source src="./media/v5.webm" type="video/webm" />
                        </video>
  default 
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. A eos placeat ab, recusandae ea soluta nemo iusto incidunt aliquam perspiciatis obcaecati animi nam deserunt, quasi id ex reprehenderit expedita est!