.footer {
    min-height: 493px;
    // position: absolute;
    margin-top: 90px;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;

    @media(max-width: 1024px) {
        margin-top: 62px;
    }

    @media(max-width: 620px) {
        margin-top: 50px;
    }

    &__grid {
        display: grid;
        grid-template-columns: [soc-start] minmax(158px, 1fr) [soc-end col2-start] minmax(266px, 1fr)[col2-end col3-start] minmax(252px, 1fr) [col3-end col4-start] minmax(236px, 1fr) [col4-end];
        grid-auto-rows: 30px;
        grid-column-gap: 39px;

        @media(max-width: 1235px) {
            grid-column-gap: 30px;
        }

        @media(max-width: 1024px) {
            grid-template-columns: [col1-start] minmax(170px, 230px) [col1-end col2-start] minmax(267px, 1fr) [col2-end col3-start] minmax(166px, 277px) [col3-end];
            grid-column-gap: 43px;
        }

        @media(max-width: 768px) {
            grid-column-gap: 62px;
        }

        @media(max-width: 767px) {
            grid-template-columns: [col1-start] 230px [col1-end col2-start] minmax(267px, 1fr) [col2-end];
            grid-column-gap: 20px;
        }

        @media(max-width: 600px) {
            display: block;
            // grid-template-columns: [col1-start] auto [col1-end];
            // grid-column-gap: 0px;
        }
    }

    &__bloc {
        &:nth-child(1) {
            @media(max-width: 1024px) {
                display: flex;
                justify-content: space-between;
                grid-column: col1-start/col3-end;
                grid-row: 1/2;
            }

            @media(max-width: 600px) {
                flex-direction: column;
            }
        }


        &:nth-child(2) {
            grid-row: 1/ span 4;
            grid-column: col2-start/ col2-end;
            padding-top: 5px;
            margin-left: -39px;

            @media(max-width: 1235px) {
                margin-left: 0;
            }

            @media(max-width: 1024px) {
                grid-row: 4/span 5;
                grid-column: col1-start/col1-end;
                padding-top: 6px;
            }

            @media(max-width: 600px) {
                padding-top: 0;
                margin-top: 35px;
            }
        }

        &:nth-child(3) {
            grid-row: 7/11;
            grid-column: col2-start/ col2-end;
            margin-left: -39px;

            @media(max-width: 1235px) {
                margin-left: 0;
            }

            @media(max-width: 1024px) {
                grid-row: 4/8;
                padding-top: 6px;
            }
        }

        &:nth-child(4) {
            padding-top: 7px;

            @media(max-width: 1024px) {
                grid-row: 9/10;
                margin-top: -13px;
                grid-column: col2-start/col2-end;
            }
        }

        &:nth-child(5) {
            grid-row: 3/12;
            grid-column: col3-start/ col3-end;

            @media(max-width: 1024px) {
                grid-row: 4/12;
                margin-top: 5px;
            }

            @media(max-width: 767px) {
                grid-column: col1-start/col1-end;
                grid-row: 13/22;
                margin-top: -16px;
            }
        }

        &:nth-child(6) {
            padding-left: 27px;
            padding-top: 3px;

            @media(max-width: 1300px) {
                padding-left: 20px;
            }

            @media(max-width: 1024px) {
                grid-row: 10/13;
                padding-left: 0;
                padding-top: 0;
                margin-top: -16px;
            }

            @media(max-width: 767px) {
                grid-column: col1-start/col1-end;
                grid-row: 10/12;
            }
        }

        &:nth-child(7) {
            grid-column: 4/5;
            grid-row: 5/12;
            padding-left: 27px;
            margin-top: -8px;

            @media(max-width: 1300px) {
                padding-left: 20px;
            }

            @media(max-width: 1024px) {
                grid-column: col2-start/ col2-end;
                grid-row: 10/12;
                padding-left: 27px;
                margin-top: 0;
                padding-left: 0;
            }
        }

        &:not(:first-child):not(:nth-child(2)) {
            @media(max-width: 600px) {
                margin-top: 25px;
                padding-top: 0;
            }
        }
    }

    &__unit {
        color: $black;
        font-size: 14px;
        line-height: 14px;
        font-weight: normal;

        @media(max-width: 1024px) {
            font-size: 12px;
            line-height: 12px;
        }

        @media(max-width: 760px) {
            text-align: center;
            font-size: 14px;
            line-height: 14px;
        }

        @media(max-width: 620px) {
            text-align: left;
        }

        &:not(:last-child) {
            margin-right: 41px;

            @media(max-width: 1024px) {
                margin-right: 0;
            }
        }

        &:not(:first-child) {
            @media(max-width: 760px) {
                margin-top: 14px;
            }
        }

        &:last-child {
            margin-left: auto;

            @media(max-width: 1024px) {
                margin-left: 0;
            }
        }

        &--link {
            &:hover {
                color: $orange-2;
            }
        }

        a {
            &:hover {
                color: $orange-2;
            }
        }
    }

    &__link {
        font-size: 14px;
        display: block;
        line-height: 22px;

        &:hover {
            color: $orange-2;
        }

        &--active {
            color: $orange-2;
        }

        &--header {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
        }
    }

    &__list {
        margin-top: 12px;

        @media(max-width: 1024px) {
            margin-top: 8px;
        }
    }

    &__container {
        display: flex;

        @media(max-width: 1024px) {
            flex-direction: column;
        }
    }

    &__left {
        margin-right: 105px;

        @media(max-width:1235px) {
            margin-right: 30px;
        }

        @media(max-width: 1024px) {
            display: flex;
            justify-content: space-between;
            margin-right: 0;
        }

        @media(max-width: 620px) {
            flex-direction: column;
        }
    }

    &__right {
        // display: flex;
        // flex-wrap: wrap;
        width: 100%;
        // margin-top: -30px;
        //flex-direction: column;
        // height: 356px;
        //   margin-left: -25px;




        @media(max-width:1235px) {
            height: 358px;
        }

        @media(max-width: 1024px) {
            height: 358px;
            margin-top: 0;
            margin-left: -22px;
        }

        @media(max-width: 767px) {
            height: 428px;
            max-width: 635px;
        }

        @media(max-width: 620px) {
            margin-top: 10px;
        }

        @media(max-width: 600px) {
            height: auto;
        }
    }

    &__logo {
        display: block;
        max-width: 150px;
        width: 100%;
        height: 30px;

        .b-svg {
            width: 100%;
            height: 100%;
            fill: white;
        }
    }

    &__top {
        padding: 84px 0 26px;
        background-size: cover;
        background-position: center 0%;
        background-image: url('/image/footer.jpg');

        @media(max-width: 1024px) {
            padding: 84px 0 20px;
            background-image: url('/image/footer-tablet.jpg');
        }

        @media(max-width: 768px) {
            background-image: url('/image/footer-tablet-768.jpg');
        }

        @media(max-width: 620px) {
            padding: 82px 0 20px;
            background-image: url('/image/footer-mobile-620.jpg');
        }

        @media(max-width: 600px) {
            background-image: url('/image/footer-mobile-600.jpg');
        }
    }

    &__bottom {
        padding: 21px 0 21px;

        .footer__container {
            @media(max-width: 1024px) {
                flex-direction: row;
                justify-content: space-between;
            }

            @media(max-width: 760px) {
                flex-direction: column;
            }
        }
    }

    &__txt {
        max-width: 124px;
        width: 100%;
        color: white;
        font-size: 14px;
        line-height: 22px;
        margin-top: 10px;

        @media(max-width: 1024px) {
            max-width: initial;
        }

        @media(max-width: 620px) {
            max-width: 124px;
            margin-top: 9px;
        }
    }

    .marks {
        margin-top: 21px;

        @media(max-width: 1024px) {
            margin-top: 8px;
        }

        @media(max-width: 620px) {
            margin-top: 14px;
        }

        &__mark {
            width: 23px;
            height: 23px;

            @media(max-width: 1024px) {
                width: 43px;
                height: 43px;
            }

            @media(max-width: 620px) {
                width: 30px;
                height: 30px;
            }

            &:not(:last-child) {
                margin-right: 11px;

                @media(max-width: 1024px) {
                    margin-right: 15px;
                }
            }

            &:hover {
                rect {
                    fill: $orange-2;
                }
            }

            svg {
                rect {
                    fill: white;
                }

                path {
                    fill: $black;
                }
            }
        }
    }
}