.quote {
    margin-top: 72px;

    @media(max-width: 1024px) {
        margin-top: 45px;
    }

    &__txt {
        max-width: 1074px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 27px;

        @media(max-width: 1024px) {
            font-size: 16px;
            line-height: 26px;
            margin: 18px auto 0;
            max-width: 637px;
        }

        @media(max-width: 620px) {
            text-align: left;
            line-height: 26px;
            margin: 14px auto 0;
        }
    }

    &__title {
        @media(max-width: 620px) {
            letter-spacing: -0.9px;
        }
    }
}