.slider {
    margin-top: 43px;
    opacity: 0;
    transition: .4s ease;

    &--thumbs {
        height: 490px;
        overflow: hidden;
        width: 100%;

        .swiper-slide {
            cursor: pointer;
            border: 2px solid transparent;
            transition: .4s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-slide-active {
            border: 2px solid $black-2;
        }

        .arrow {
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 25px;
            width: 0px;
            z-index: 1;

            &__link {
                &:hover {
                    .b-svg {
                        fill: $orange;
                    }
                }
            }
        }
    }

    &--card {
        max-width: 490px;
        width: 100%;
        overflow: hidden;
        height: 490px;

        @media(max-width: 990px) {
            max-width: initial;
            height: 100%;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .arrow {
            @media(max-width: 990px) {
                position: absolute;
                width: 100%;
            }
        }


    }

    &--comment {
        width: calc(100% + 640px);
        margin-left: -320px;

        @media(max-width: 1024px) {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-top: 34px;
        }

        @media(max-width: 620px) {
            margin-top: 32px;
        }

        .slider {
            &__article {
                font-size: 20px;
                line-height: 31px;
                font-style: italic;
                font-weight: 400;
                font-family: 'Playfair', sans-serif;
                margin-top: 17px;
                letter-spacing: -0.53px;

                @media(max-width: 1024px) {
                    font-size: 18px;
                    line-height: 30px;
                    margin-top: 11px;
                    letter-spacing: -0.4px;
                }

                @media(max-width: 620px) {
                    font-size: 17px;
                    line-height: 25px;
                    margin-top: 14px;
                }
            }

            &__txt {
                font-size: 15px;
                line-height: 25px;
                margin-top: 10px;
                margin-bottom: 21px;

                @media(max-width: 1024px) {
                    font-size: 14px;
                    line-height: 22px;
                    margin-bottom: 24px;
                }

                @media(max-width: 620px) {
                    line-height: 21px;
                    margin-bottom: 21px;
                }
            }

            &__autor {
                display: flex;
                align-items: center;
                margin-top: auto;
            }

            &__pic {
                margin-right: 13px;
                height: 54px;
                width: 54px;
                overflow: hidden;
                border-radius: 27px;

                @media(max-width: 1024px) {
                    height: 50px;
                    width: 50px;
                }

                @media(max-width: 620px) {
                    height: 54px;
                    width: 54px;
                }
            }

            &__name {
                font-size: 16px;
                line-height: 22px;
                font-style: italic;
                font-weight: 400;
                font-family: 'Playfair', sans-serif;

                @media(max-width: 1024px) {
                    font-size: 15px;
                    line-height: 15px;
                }
            }

            &__post {
                font-size: 12px;
                line-height: 18px;

                @media(max-width: 1024px) {
                    margin-top: 8px;
                }
            }

            &__ic {
                width: 38px;
                height: 42px;

                @media(max-width: 1024px) {
                    width: 34px;
                    height: 43px;
                }

                @media(max-width: 620px) {
                    width: 30px;
                    height: 30px;
                }

                .b-svg {
                    height: 100%;
                    width: 100%;
                    fill: $blue-1;
                }
            }


        }

        .swiper-slide {
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 15px rgba(14, 126, 181, 0.5);
            padding: 38px 80px 56px 45px;
            transform: scale(.858);
            max-width: 680px;
            width: 100%;
            transition: .4s ease;

            @media(max-width: 1024px) {
                max-width: 538px;
                padding: 21px 45px 33px 30px;
                transform: scale3d(.89, .84, .89);
            }

            @media(max-width: 620px) {
                padding: 26px 18px 31px 18px;
                max-width: 345px;
            }
        }

        .swiper-slide-active {
            transform: scale(1) !important;
        }

        .pagination {
            display: none;
        }

        .arrow__link {
            display: block;
        }

        .arrow__cover {
            max-width: 66px;
        }
    }

    &--examples {
        overflow: hidden;
        padding: 15px 10px 0;
        margin: 26px -10px 0;
        margin-top: 26px;

        @media(max-width: 1024px) {
            margin: 16px -10px 0;
        }

        @media(max-width: 620px) {
            margin: 11px -10px 0;
        }

        .slider {
            &__box {
                padding-top: 16px;

                @media(max-width: 620px) {
                    padding-top: 10px;
                }
            }

            &__pic {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 24px 32px;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
                height: 351px;
                transition: all 0.4s ease 0s;

                @media(max-width: 1235px) {
                    height: 295px;
                }

                @media(max-width: 1024px) {
                    height: 286px;
                }

                @media(max-width: 620px) {
                    height: 205px;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }

            &__txt {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                transition: all .4s ease 0s;

                @media(max-width: 1024px) {
                    font-size: 14px;
                    font-weight: 400;
                }

                @media(max-width: 620px) {
                    line-height: 24px;
                }

                &--price {
                    font-weight: 500;
                    font-size: 16px;

                    @media(max-width: 1024px) {
                        font-size: 14px;
                    }

                    @media(max-width: 620px) {
                        margin-top: 6px;
                    }
                }

                &--names {
                    font-weight: 500;
                    color: $blue-1;
                    font-size: 16px;
                }

            }

            &__bloc {
                &--bottom {
                    display: flex;
                    justify-content: space-between;

                    @media(max-width: 600px) {
                        flex-direction: column;
                    }
                }
            }
        }

        .swiper-slide {
            &:hover .slider__pic {
                box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.35);
            }

            &:hover .slider__box {
                color: $orange;
            }

            &:hover .slider__txt--names {
                color: $orange;
            }
        }
    }

}