.question {
    margin-top: 69px;

    @media(max-width: 1024px) {
        margin-top: 60px;
    }

    @media(max-width: 620px) {
        margin-top: 40px;
    }

    &__text {
        margin-top: 20px;

        @media(max-width: 1024px) {
            line-height: 26px;
        }

        @media(max-width: 620px) {
            margin-top: 18px;
        }
    }

    &__title {
        @media(max-width: 620px) {
            line-height: 40px;
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: 44px;

            @media(max-width: 1024px) {
                margin-top: 30px;
            }

            @media(max-width: 620px) {
                margin-top: 34px;
            }
        }
    }
}