extends ../layout/main

block variables
	- var title = 'Главная страница'

	
block content
		section.agreement.mf-margin
			.agreement__container.container
				h1.agreement__title.title-4 Соглашение на обработку персональных данных
				.agreement__wrapper.cover
					.agreement__bloc
						.agreement__header Термины, применяемые в настоящем Соглашении:
						ul.list 
							li.list__li Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видео материалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет.
							li.list__li Администрация Сайта – это лицо, обладающее правами администрирования Сайта.
							li.list__li Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.
					.agreement__bloc
						.agreement__header Использование персональных данных
						.agreement__txt Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте https://***.ru, (далее – Сайт), путем заполнения полей формы (регистрации) Пользователь:
						ul.list 
							li.list__li подтверждает, что все указанные им данные принадлежат лично ему;
							li.list__li подтверждает и признает, что им внимательно в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях формы (регистрации), текст соглашения и условия обработки персональных данных ему понятны;
							li.list__li дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;
							li.list__li дает согласие на обработку Сайтом предоставляемых персональных данных в целях регистрации Пользователя на Сайте;
							li.list__li выражает согласие с условиями обработки персональных данных без каких-либо оговорок и ограничений.
						.agreement__box
							.agreement__par Владельцем всей информации на сайте является Индивидуальный предприниматель ***
							.agreement__par ИНН ***
							.agreement__par Юр. адрес: ***
							.agreement__par гор. Магнитогорск, ул. Карла Маркса, дом 166.
						.agreement__txt Пользователь дает свое согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ "О персональных данных", и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своем интересе
						.agreement__txt Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.
						.agreement__txt Обработке подлежат следующие персональные данные:
						ul.list 
							li.list__li Фамилия, имя, отчество Пользователя;
							li.list__li Электронный адрес Пользователя;
							li.list__li Номер телефона Пользователя.
							li.list__li Направленные Администрации Сайта файлы, в том числе и фотографии.
						.agreement__txt Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании распоряжения в форме подачи заявки на нашем Сайте.Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта, в соответствии с требованиями законодательства о защите персональных данных, в том числе федерального закона №152-ФЗ от 27.07.2006 «О персональных данных» в редакции, действующей на момент обработки таких персональных данных.
					.agreement__bloc
						.agreement__header Дополнительные условия
						.agreement__txt Сайт не несет ответственности за использование (как правомерное, так и неправомерное) третьими лицами Информации, размещенной Пользователем на Сайте, включая её воспроизведение и распространение, осуществленные всеми возможными способами. Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.
						.agreement__txt Действующая редакция Соглашения находится на странице по адресу: https://***.ruК настоящему Соглашению и отношениям между Пользователем и Сайтом, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.
					

block script