extends ../layout/main

block variables
	- var title = 'Главная страница'

	
block content
	section.policy.mf-margin
		.policy__container.container
			h1.policy__title.title-4 Политика конфиденциальности
			.policy__wrapper.cover
				.policy__text Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт <a href="https://convertmonster.ru">https://convertmonster.ru</a>, на котором размещен текст этой Политики конфиденциальности, может получить о Пользователе, а также любых программ и продуктов, размещенных на указанном сайте. Настоящая политика конфиденциальности составлена в соответствии с требованиями Федерального закона от 27.07.2006 года №152-ФЗ «О персональных данных» и определяет порядок получения и обработки персональных данных, а также меры по обеспечению безопасности персональных данных Пользователей <a href="https://convertmonster.ru">https://convertmonster.ru</a>.
				
				.policy__bloc 
					.policy__header 1. Определение терминов
					.policy__li 1.1 В настоящей Политике конфиденциальности используются следующие термины:
					.policy__li 1.1.1. «Администрация сайта» – уполномоченные сотрудники на управления сайтом https://***.ru, действующие от его имени, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
					.policy__li 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
					.policy__li 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
					.policy__li 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Администрацией сайта требование не допускать их умышленного распространения без согласия субъекта персональных данных или наличия иного законного основания.
					.policy__li 1.1.5. «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к сайту https://***.ru, посредством сети Интернет и использующее данный сайт для своих целей.
					.policy__li 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
					.policy__li 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
				.policy__bloc 
					.policy__header 2. Общие положения
					.policy__li 2.1. Использование Пользователем сайта https://***.ru означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя. Пользователь даёт своё согласие на обработку его персональных данных, действуя свободно, своей волей и в своём интересе. Согласие Пользователя на обработку его персональных данных является конкретным, информированным и сознательным.
					.policy__li 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
					.policy__li 2.3. Настоящая Политика конфиденциальности применяется только к данному сайту. Администрация сайта не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на данном сайте.
					.policy__li 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
					.policy__li 2.5. Владельцем сайта https://***.ru является Общество с ограниченной ответственностью «КМ медиа» (ОГРН 1157746400008, ИНН 7726338307, юридический адрес: 111250, г. Москва, ул. Лефортовский вал, дом 24, подвал, пом. IV, ком. 1, оф. 91).
				.policy__bloc 
					.policy__header 3. Предмет политики конфиденциальности
					.policy__li 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по умышленному неразглашению персональных данных, которые Пользователь предоставляет по разнообразным запросам Администрации сайта (например, при регистрации на сайте, оформлении заказа на приобретение услуг, предоставляемых на сайте, подписки на новостные уведомления и т.п.).
					.policy__li 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения специальных форм на Сайте и обычно включают в себя следующую информацию:
					.policy__li 3.2.1. фамилию, имя, отчество Пользователя;
					.policy__li 3.2.2. контактный телефон Пользователя;
					.policy__li 3.2.3. адрес электронной почты (e-mail).
					.policy__li 3.3. Администрация сайта также принимает усилия по защите Персональных данных, которые автоматически передаются в процессе посещения страниц сайта https://***.ru:
					ul.list 
						li.list__li IP адрес;
						li.list__li информация из cookies;
						li.list__li информация о браузере (или иной программе, которая осуществляет доступ к сайту);
						li.list__li время доступа;
						li.list__li посещенные адреса страниц;
						li.list__li реферер (адрес предыдущей страницы) и т.п.
					.policy__li 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта и/или некорректную работу страниц сайта.
					.policy__li 3.3.2. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля корректности проводимых операций на сайте.
					.policy__li 3.4. Любая иная персональная информация неоговоренная выше (история заказов, используемые браузеры и операционные системы и т.д.) не подлежит умышленному разглашению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
					.policy__li 3.5. Согласие Пользователя на обработку его персональных данных действует бессрочно с момента предоставления данных и может быть отозвано путём подачи письменного заявления Администрации сайта с указанием данных, определённых ст. 14 ФЗ «О персональных данных».
					.policy__li Соответствующее письменное заявление об отзыве согласия на обработку персональных данных направляется Пользователем на адрес электронной почты (g-mail) <a href="mailto:Vladzel@gmail.com">Vladzel@gmail.com</a>.
				.policy__bloc 
					.policy__header 4. Цели сбора персональной информации пользователя
					.policy__li 4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:
					.policy__li 4.1.1. Идентификации Пользователя, посещающего сайт https://***.ru, для предоставления услуг, оформления заказа и (или) заключения Договора.
					.policy__li 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам сайта.
					.policy__li 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта, оказания услуг, обработки запросов и заявок от Пользователя.
					.policy__li 4.1.4. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
					.policy__li 4.1.5. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
					.policy__li 4.1.6. Оказания услуг в области интернет-маркетинга, указанных на сайте https://***.ru.
					.policy__li 4.1.7. Уведомления Пользователя сайта о состоянии Заявки.
					.policy__li 4.1.8. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием сайта https://***.ru.
					.policy__li 4.1.9. Предоставления Пользователю с его согласия, обновлений реализуемых на сайте услуг, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта или от имени партнеров сайта.
					.policy__li 4.1.10. Осуществления рекламной деятельности с согласия Пользователя.
					.policy__li 4.1.11. Предоставления доступа Пользователю на сторонние сайты или сервисы партнеров данного сайта с целью получения их предложений, обновлений или услуг.
				.policy__bloc 
					.policy__header 5. Способы и сроки обработки персональной информации
					.policy__li 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
					.policy__li 5.2. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти только по основаниям и в порядке, установленным действующим законодательством.
					.policy__li 5.3. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
					.policy__li 5.4. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
					.policy__li 5.5. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
				.policy__bloc 
					.policy__header 6. Обязательства сторон
					.policy__li 6.1. Пользователь обязуется:
					.policy__li 6.1.1. Предоставить корректную и правдивую информацию о персональных данных, необходимую для пользования сайтом https://***.ru.
					.policy__li 6.1.2. Обновить и/или дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
					.policy__li 6.1.3. Принимать меры для защиты доступа к своим персональным данным, хранящимся на сайте.
					.policy__li 6.2. Администрация сайта обязуется:
					.policy__li 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
					.policy__li 6.2.2. Обеспечить хранение персональной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
					.policy__li 6.2.3. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
				.policy__bloc 
					.policy__header 7. Ответственность сторон
					.policy__li 7.1. Администрация сайта несёт ответственность за умышленное разглашение персональных данных Пользователя в соответствии с действующим законодательством, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
					.policy__li 7.2. В случае утраты или разглашения персональных данных Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
					.policy__li 7.2.1. Стала публичным достоянием до её утраты или разглашения.
					.policy__li 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
					.policy__li 7.2.3. Была получена третьими лицами путем несанкционированного доступа к файлам сайта.
					.policy__li 7.2.4. Была разглашена с согласия Пользователя.
					.policy__li 7.3. Пользователь несет ответственность за правомерность, корректность и правдивость предоставленных персональных данных в соответствии с действующим законодательством.
				.policy__bloc 
					.policy__header 8. Разрешение споров
					.policy__li 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
					.policy__li 8.2 . Получатель претензии в течение 5 (пяти) рабочих дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
					.policy__li 8.3. При недостижении соглашения спор будет передан на рассмотрение в суд в соответствии с действующим законодательством.
					.policy__li 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство РФ.
				.policy__bloc 
					.policy__header 9. Дополнительные условия
					.policy__li 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
					.policy__li 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте https://***.ru, если иное не предусмотрено новой редакцией Политики конфиденциальности.
					.policy__li 9.3. Действующая Политика конфиденциальности размещена на странице по адресу https://***.ru.
block script