extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var bildboard_title = "Частозадаваемые вопросы";
	- var bildboard_quote = "Мы поможем найти ответ на Ваш вопрос";
	

	- var portfolio = 'short';
	- var bildboard_type = 'basic';

	


block content
	include ../modules/bildboard
	.question
		.question__container.container
			.question__wrapper.cover
				.question__item
					h4.question__title.title-4 Сколько стоит доставка?
					.question__text А ещё реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объединены в целые кластеры себе подобных. Есть над чем задуматься: сделанные на базе интернет-аналитики выводы могут быть описаны максимально подробно! А ещё реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом.
				.question__item
					h4.question__title.title-4 Проводятятся ли&nbsp;замеры?
					.question__text А ещё реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объединены в целые кластеры.
				.question__item
					h4.question__title.title-4 Монтаж и демонтаж
					.question__text А ещё реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объединены в целые кластеры себе подобных. 
				.question__item
					h4.question__title.title-4 Требуется ли предоплата?
					.question__text А ещё реплицированные с зарубежных источников, современные исследования освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется.
				.question__item
					h4.question__title.title-4 Даете ли вы гарантию?
					.question__text А ещё реплицированные с зарубежных источников, современные исследования освещают чрезвычайно. 
	include ../modules/call
block script